body {
  font-family: Arial, sans-serif;
  background-color: rgb(168, 154, 154);
  margin: 0;
  text-align: center;
}
nav {
  
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: #4b0aac
}
button {
  color: rgb(182, 23, 23);
  padding: 10px;
  border: none;
  cursor: pointer;
}

input, textarea {
  width: 250px;
  padding: 10px;
  margin: 5px;
}
ul{
    display: inline-block;
    align-items: center;
    padding-left: 0;
}
service{
  display: flex;
  justify-self: space-between;
  align-items: center;
}
content{
  flex: 1;
}
service img{
  width: 150px;
  margin-left: 20px;
}
services-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
text {
  width: 60px;
  color: #6b4f3c;
}
images{
  width: 35%;
display: flex;
flex-direction:block ;
gap: 15px;
}
images{
  width: 600px;
  border-radius: 10px;
  color: #b76e79;
}
headings {
  font-display: playfair Display;
}